@media (max-width: 559px) {
    .header-logo {
        width: 100% !important;
        text-align: center;
    }
    .header-logo img {
        width: 280px !important;
    }
    .header-menu {
        width: 100% !important;
        float: none;
        text-align: center !important;
    }
}

@media (min-width: 560px) {
    .header-logo {
        width: 50% !important;
    }
    .header-menu {
        width: 40% !important;
    }
}